<div class="row m-0 p-0 setZ">
    <div class="col-4 p-0 limit">
        <div class="border border-dark">
            <form class="form-inline">
                <div class="form-group" style="width: 100%">
                    <label for="citySearch" class="sr-only"></label>
                    <input type="City Name" class="form-control" id="cityInpt" placeholder="City Name...">
                    <button type="search" class="btn btn-dark m-4 " id="searchBtn">Search</button>
                </div>
            </form>
        </div>

        <table class="DarkCells" id="cityList">
            <thead>
                <tr>
                    <th>History</th>
                </tr>
            </thead>
            <tbody id="tabelBody">
                {{#each city}}
                <tr>
                    <td id={{this}}><h5>{{this}}</h5></td>
                </tr>
                {{/each}}

                </tr>
            </tbody>
            </tr>
        </table>
    </div>

    <div class="col-8 border border-dark">
        <div class="container">
            <h1 class="roboto">{{hbout1}}</h1>
            <div id="contentDiv">
                {{>weather}}
        </div>
    </div>
   


</div>